/*Geolocation starting*/

.geolocation{

    width:auto;
  
    height:500px;
  
    text-align: center;
  
    justify-content: center;
  
    padding:10px;
  
    background-color: #f1f1f1;
  
    margin-top:50px;
  
    margin-bottom: 50px;
  
  }
  
  #embedMap{
  
    width:800px;
  
    height:400px;
  
    position:absolute;
  
    left:220px;
  
  }
  
  #getlocation{
  
    width:600px;
  
    height:40px;
  
    border: 3px solid #83ac2b;
  
    border-radius: 20px;
  
    float:center;
  
    margin-bottom:20px;
  
    background-color: #fff;
  
    color:green;
  
  }
  
  .geolocation-heading {
  
    font-family: "Signika";
  
    font-weight: 700;
  
    color: #fff;
  
    margin-bottom: 30px;
  
  }
  
  
  
  /*Geolocation ending*/