/* test */

.store {
  background: #eeeeee;
}

.search-box {
  background: #795405;
  color: #000;
}

.single-item {
  transition: all 0.3s linear;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.store-img {
  transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px;
  padding: 0.75rem;
  background: #83b735;
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: #fff;
}

.img-large-left {
  width: 510px;
}

.single-item-right {
  margin-top: 17px;
}
.container{
  height:5%;

}